<ul class="nav-links">
    <img src="<%= url_for(current_user.avatar) %>" alt="User Display Image" class="img-fluid rounded-circle" style="width: 50px; height: 50px;">

    <li>Categories</li>
    <li>Transactions</li>
    <li><%= button_to "Log out", destroy_user_session_path, class: 'btn btn-dark', method: :delete, data: { turbo: false }  %></li>
  </ul>
<!-- Add this to your HTML file -->
<div class="hamburger">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>

<script>
// Add this to your JavaScript file or script tag
const hamburger = document.querySelector('.hamburger');
const navLinks = document.querySelector('.nav-links');
hamburger.addEventListener('click', () => {
  hamburger.classList.toggle('clicked');
  navLinks.classList.toggle('show');
  // navLinks.style.display = 'block'
});
</script>