<div class="container d-grid align-items-end grid">
    <h1 class="text-center mb-4">BudgetApp</h1>
    <div class="row p-3">
      <%= link_to "LOG IN", new_user_session_path, class: "btn btn-primary btn-block" %>
      <%= link_to "SIGN UP", new_user_registration_path, class: "btn btn-light btn-block" %>
    </div>
</div>
