* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Proxima Nova', sans-serif;
  font-weight: 900;
}

.grid {
  height: 90vh;
}

.alerts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 6vh;
  color: black;
}

.nav-mobile {
  background-color: #3778c2;
  color: white;
}